html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    margin: 0 auto;
    height: inherit;
}

.display-flex {
    display: flex;
}